<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="./bootstrap.php"
        colors="true">
    <testsuites>
        <testsuite name="App Test Suite">
            <directory phpVersion="7.1.30" phpVersionOperator=">=">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>