db:
  driver: pdo_sqlite
  path: /../data/sqlite/db.sqlite
view:
  path: ../templates
  cache: ../data/twig-cache
slack:
  username: 開發中
  channel: '#xxx'
  webHooks: https://hooks.slack.com/services/TEHA6GH1Q/BQETZL8EN/xxxxxxxxxxxxxx
  sendError: true
  authorName: xxx
  authorLink: https://xxxxxxxx
php:
  displayErrors: true
  logErrors: true
session:
  path: /../data/session/
mail:
  smtp: smtp.mailtrap.io
  port: 2525
  user: username
  password: password
logger:
  name: app
  path: ../data/log/app.log
  level: Logger::WARNING
  maxSize: 1000000
  maxFiles: 3
redis:
  host: 127.0.0.1
  port: 6379
upload:
  public:
    image:
      path: ../public/upload/images/
      accept: ['jpg', 'jpeg', 'png']
      size:
        big: [1024, 1024]
        middle: [512, 512]
        small: [100, 100]
    file:
      path: ../public/upload/files/
      accept: ['pdf', 'doc', 'docx']
  private:
    image:
      path: ../private/upload/images/
      accept: ['jpg', 'jpeg', 'png']
      size:
        big: [1024, 1024]
        middle: [512, 512]
        small: [100, 100]
    file:
      path: ../private/upload/files/
      accept: ['pdf', 'doc', 'docx']
