<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
</head>
<body>
<ul id="navigation">

</ul>

<h1>My Webpage</h1>
{{ a_variable }}
<img src="../asset/images/wheat-1556698_640.jpg" alt="">
</body>
</html>